<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="2chweb.css">
   <style>
       /* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

nav a.active {
  color: #007BFF;
  font-weight: 600;
  border-bottom: 2px solid #007BFF;
  padding-bottom: 4px;
}

/* BASE STYLES */
body {
  font-family: 'Poppins', sans-serif;
  color: #002B5B;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

h1, h2 {
  color: #003366;
  text-align: center;

